@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("/bg hero2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: white;
}
/* Add your custom styles here */
.nav-link {
  text-decoration: none;
  padding: 8px;
  color: #333;
}

.nav-link:hover {
  color: #666;
}

.nav-link.active {
  color: #ff9900;
}
